* {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    color: #F9FAF8;
}

.header, 
.banner,
.center,
.footer
{
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;

}

.header {
    display: flex;
    height: 30px;
    color: #F9FAF8;
    padding: 24px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.header_text {
    flex: 1 1 auto;
    font-size: 24px;
}

.header_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 auto;
}

.header_links div {
    flex: 1 1 auto;
    text-align: center;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner_text {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.banner_text button {
    background-color: blue;
}

.banner_header {
    flex: 1 1 auto;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.banner_body {
    flex: 1 1 auto;
}

.banner_image {
    flex: 1 1 auto;
    margin-left: 40px;
    margin-bottom: 40px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: #F9FAF8;
    padding-top: 40px;
    padding-bottom: 60px;
}

.center_header {
    flex: 1 1 auto;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.center_content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.content_image {
    flex: 1 1 auto;
    border: solid;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 10%;
    height: 120px;
    width: 120px;
}

.content_text {
    flex: 1 1 auto;
    text-align: center;
    color: #1f2937;
    text-wrap: wrap;
    width: 140px;
}

.quote_land {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    flex: 1 1 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.author {
    flex: 1 1 auto;
    align-self: flex-end;
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}